@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer utilities {
  .hoverable-text {
    transition: all 0.3s ease;
    @apply hover:text-primary;
  }
}

.ant-btn-primary {
  background: #1d8dfd;
  color: "white" !important;
}
